html,
body,

#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}
#viewDiv {
 
  height: 100%;
  width: 70%;
  float: left;

}
#first{
  width: 30%;
  height: 100%;
  border: 1px solid black;
  margin: 5px;
}
